.fade-transition {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-transition:not(.fade-transition) {
  opacity: 1;
}

.cardTransitionLeft {
  animation-name: cardTransitionLeft;
  animation-duration: 1s;
}

@keyframes cardTransitionLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.newTransition {
  animation-name: newTransition;
  animation-duration: 2s;
}

@keyframes newTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cardTransitionRight {
  animation-name: cardTransitionRight;
  animation-duration: 1s;
}

@keyframes cardTransitionRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.newCardTransition {
  animation-name: newCardTransition;
  animation-duration: 1s;
}

@keyframes newCardTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}